DRIFT_RADIO_DIR=/home/morpheus/Hackstuff/drift-radio
BARTENDER_PASSWORD=ftr2024

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback

ICECAST_STATUS_URL=http://localhost:8000/status-json.xsl
